USE [master]
GO
/****** Object:  Database [blooper]    Script Date: 2023/06/28 13:41:18 ******/
CREATE DATABASE [blooper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blooper', FILENAME = N'C:\Users\dylan\OneDrive\Desktop\MSSQL16.MSSQLSERVER\MSSQL\DATA\blooper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blooper_log', FILENAME = N'C:\Users\dylan\OneDrive\Desktop\MSSQL16.MSSQLSERVER\MSSQL\DATA\blooper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blooper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blooper]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[to] [int] NOT NULL,
	[from] [int] NOT NULL,
	[text] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](25) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([from])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([to])
REFERENCES [dbo].[users] ([id])
GO
/****** Object:  StoredProcedure [dbo].[CreateMessage]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateMessage]
	@to int,
	@from int,
	@text nvarchar(1000)
AS
	INSERT INTO [dbo].[Messages]
		([To], [From], [Text])
	VALUES
		(@to, @from, @text)
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateUser]
	@username nvarchar(25)
AS
	INSERT INTO [dbo].[Users]
		([Username])
	VALUES
		(@username)
GO
/****** Object:  StoredProcedure [dbo].[DeleteMessage]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[DeleteMessage]
	@id int
AS
	DELETE FROM [dbo].[messages]
	WHERE [id] = @id
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[DeleteUser]
	@id int
AS
	DELETE FROM [dbo].[users]
	WHERE [id] = @id
GO
/****** Object:  StoredProcedure [dbo].[ExternalGetMessages]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[ExternalGetMessages]
	@to int,
	@from int
AS
	SELECT [to], [from], [text], [created_at]
	FROM [dbo].[Messages]
	WHERE ([to] = @to OR [to] = @from) AND ([from] = @from OR [from] = @to)
	ORDER BY [created_at] ASC
GO
/****** Object:  StoredProcedure [dbo].[GetMessages]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetMessages]
	@to int,
	@from int
AS
	SELECT [to], [from], [text], [created_at]
	FROM [dbo].[Messages]
	WHERE ([to] = @to OR [to] = @from) AND ([from] = @from OR [from] = @to)
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]
AS
	SELECT *
	FROM [dbo].[users]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMessage]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[UpdateMessage]
	@id INT,
	@to INT,
	@from INT,
	@text NVARCHAR(1000)
AS
	UPDATE [dbo].[messages]
	SET
		[to] = @to,
		[from] = @from,
		[text] = @text
	WHERE
		[id] = @id

GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 2023/06/28 13:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
CREATE PROCEDURE [dbo].[UpdateUser]
	@id INT,
	@username NVARCHAR(25)
AS
	UPDATE [dbo].[users]
	SET
		[username] = @username
	WHERE
		[id] = @id

GO
USE [master]
GO
